.section-one {
  background-color: #2e2f42;
}
.h1-first {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.the-end {
  background-color: #2e2f42;
}
.link {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: 4d5ae5;
  text-decoration: none;
}
.studio {
  color: #f4f4fd;
}
