body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-background);
}

:root {
  --primary-brand: #4D5AE5;
  --pressed-state: #404BBF;
  --dark: #2E2F42;
  --success: #31D0AA;
  --text: #434455;
  --subtle-text: #8E8F99;
  --accent: #E7E9FC;
  --light: #F4F4FD;
  --modal-overlay: #2E2F42;
  --hero-background: #2E2F42;
  --white-background: #ffffff;
  --modal-background: #FCFCFC;

}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo-in-header {
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


.filter-btn-active {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
}

.filter-btn-active:hover,
.filter-btn-active:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.address {
  font-style: normal;
}

.contacts-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-items {
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-items:hover {
  color: #404bbf;
}

.footer {
  background-color: #2e2f42;
}

.logo-in-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio-footer {
  color: #f4f4fd;
}

.studio-header {
  color: #2E2F42;
}

.studio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.studio-btn:hover,
.studio-btn:focus {
  color: #404bbf;
}

.heading-h2 {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.paragraph-text {
  color: var(--text);
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
}